<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genre Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-4">

    <h3 th:text="${genre.id == null} ? 'Thêm thể loại' : 'Sửa thể loại'"></h3>

    <form th:action="@{/admin/genre/save}"
          th:object="${genre}"
          method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label>Tên thể loại</label>
            <input type="text"
                   class="form-control"
                   th:field="*{name}"
                   placeholder="Nhập tên thể loại">
        </div>

        <button class="btn btn-success">Lưu</button>
        <a href="/admin/genre" class="btn btn-secondary">Quay lại</a>

    </form>

</div>

</body>
</html>